<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/inventory.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include("../partials/header") %>

  <main class="classification-container">
    <% if (title) { %>
      <h1 class="classification-title"><%= title %></h1>
    <% } else { %>
      <script>window.location.href = "/";</script>
    <% } %>

    <div class="vehicle-grid">
      <%- grid %>
    </div>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
